---
import Button from "fulldev-ui/components/Button.astro";
import Grid from "fulldev-ui/components/Grid.astro";
import Image from "fulldev-ui/components/Image.astro";
import Placeholder_img from "../images/placeholder_img.jpg";
import "photoswipe/style.css";

const imageFiles = await Astro.glob("/src/images/home/gallery/*");
---

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });

  lightbox.init();
</script>

<script>
  const RANGE = 6;

  function handleLoadMore() {
    const hiddenImages = document.querySelectorAll(
      ".gallery-image-anchor-hidden"
    );
    const isLast = hiddenImages.length <= RANGE;
    const selection = [...hiddenImages].splice(0, RANGE);
    selection.forEach((element) => {
      element.classList.remove("gallery-image-anchor-hidden");
      const newSrc = element.getAttribute("data-pswp-src");
      const innerImgElement = element.querySelector(".gallery-image-img");
      element.setAttribute("href", newSrc ?? "");
      innerImgElement?.setAttribute("src", newSrc ?? "");
      console.log(newSrc);
    });

    if (isLast) {
      document.getElementById("load-more")?.remove();
    }
  }

  handleLoadMore();
  document
    .getElementById("load-more")
    ?.addEventListener("click", handleLoadMore);
</script>

<Grid size="sm" id="gallery">
  {
    imageFiles.map((img, index) => (
      <a
        class="gallery-image-anchor gallery-image-anchor-hidden"
        href={img.default.src}
        data-pswp-width={img.default.width}
        data-pswp-height={img.default.height}
        data-pswp-src={img.default.src}
        target="_blank"
      >
        <Image
          class="gallery-image-img"
          src={Placeholder_img.src}
          alt={`ejemplo de hormigon impreso ${index}`}
        />
      </a>
    ))
  }
</Grid>

<div class="gallery-footer">
  <Button as="button" color="brand" id="load-more">Cargar más imágenes</Button>
</div>

<style>
  .gallery-image-anchor {
    height: 20rem;
  }

  .gallery-image-anchor img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .gallery-footer {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gallery-footer button {
    font-size: 1.25rem;
  }

  .gallery-image-anchor-hidden {
    display: none;
  }
</style>
